<nav id="event_navbar" class="navbar navbar-dark bg-primary">
  <button type="button" class="btn btn-secondary-outline"><%= link_to "Log Out", '/sessions/destroy' %></button>
  <button type="button" class="btn btn-secondary-outline"><%= link_to "Events Dashboard", "/sessions/#{@edit_event.id}" %></button>
</nav>
<div id="event_edit_container">
<h2>Edit Your Event</h2>
<div id="update_event">
  <form action="/sessions/<%= @edit_event.id %>" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input class="form-control" type="hidden" name="_method" value="put">
    <label for="event_name">Name</label>
    <input class="form-control" type="text" name=event[name] id="event_name" value="<%= @edit_event.name %>">
    <label for="date">Date</label>
    <input class="form-control" type="date" name=event[date] id="date" value="<%= @edit_event.date %>">
  <div class="form-group">
    <label for="city">City</label><br>
    <input class="form-control" type="text" id="edit_city" name=event[city] value="<%= @edit_event.city %>">
    <select id="edit_state" class="form-control" name=event[state]>
      <option value="<%= @edit_event.state %>"><%= @edit_event.state %></option>
      <option value="AL">AL</option>
      <option value="AK">AK</option>
      <option value="AZ">AZ</option>
      <option value="AR">AR</option>
      <option value="CA">CA</option>
      <option value="CO">CO</option>
      <option value="CT">CT</option>
      <option value="DE">DE</option>
      <option value="DC">DC</option>
      <option value="FL">FL</option>
      <option value="GA">GA</option>
      <option value="HI">HI</option>
      <option value="ID">ID</option>
      <option value="IL">IL</option>
      <option value="IN">IN</option>
      <option value="IA">IA</option>
      <option value="KS">KS</option>
      <option value="KY">KY</option>
      <option value="LA">LA</option>
      <option value="ME">ME</option>
      <option value="MD">MD</option>
      <option value="MA">MA</option>
      <option value="MI">MI</option>
      <option value="MN">MN</option>
      <option value="MS">MS</option>
      <option value="MO">MO</option>
      <option value="MT">MT</option>
      <option value="NE">NE</option>
      <option value="NV">NV</option>
      <option value="NH">NH</option>
      <option value="NJ">NJ</option>
      <option value="NM">NM</option>
      <option value="NY">NY</option>
      <option value="NC">NC</option>
      <option value="ND">ND</option>
      <option value="OH">OH</option>
      <option value="OK">OK</option>
      <option value="OR">OR</option>
      <option value="PA">PA</option>
      <option value="RI">RI</option>
      <option value="SC">SC</option>
      <option value="SD">SD</option>
      <option value="TN">TN</option>
      <option value="TX">TX</option>
      <option value="UT">UT</option>
      <option value="VT">VT</option>
      <option value="VA">VA</option>
      <option value="WA">WA</option>
      <option value="WV">WV</option>
      <option value="WI">WI</option>
      <option value="WY">WY</option>
    </select>
  </div>
      <button type="submit" class="btn btn-secondary-outline">Update Event</button>
  </form>
</div>
</div>
